<h3>Bienvenido a  <%= title %></h3>
<div class="row">
        <div class="col-md-6" >
          <table class="table table-bordered" align="center">
            <thead>
              <tr>
                 <td>id</td>
                 <td>Tipo Reclamo</td>
                 <td>Observacion</td>
                 <td>Fecha</td>
              </tr>
            </thead>
            <tbody>
              <% var i; for(i=0; i< reclamos.length; i++) { %>
                 <tr>
                     <td><%= i %></td>
                     <td><%= reclamos[i].tipoReclamo %></td>
                     <td><%= reclamos[i].observacion %></td>
                     <td><%= reclamos[i].fecha %></td>
                  </tr>   
              <% } %>
            </tbody>
          </table>
        </div>